// Por boas pratica quando colocado undescor no nome do arquivo ele mporta no final apenas o arquivo .scss e não gera o.css
// importante para nao ter varios arquivos como button.scss e button.css

a {
	display: block;
	width: 200px;
	height: 40px;
}